* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative;
    height: 100vh;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #07498a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .logo h2 {
    color: #f8fbf8;
    font-size: 24px;
    margin: 0;
  }
  
  .navbar .menu ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar .menu ul li {
    margin-left: 40px;
  }
  
  .navbar .menu ul li a {
    text-decoration: none;
    color: #cadfec;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .navbar .menu ul li a:hover {
    color: #021f3b;
  }
  
  .carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 60px; /* Adjust for navbar height */
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
  }
  
  .slide.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .carousel-container .slide:first-child {
    transform: translateX(0);
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  